Source: libcolumbus
Section: libs
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9~),
               cmake,
               pkg-config,
               libicu-dev,
               python3-dev,
               libboost-python-dev,
               libsparsehash-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/libcolombus
# If you aren't a member of ~unity-team but need to upload packaging changes,
# just go ahead.  ~unity-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-team/libcolombus/trunk

Package: libcolumbus0-0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libcolumbus0-0-common (= ${source:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Description: error tolerant matching engine - shared library
 Libcolumbus is a search engine designed to work with unclean data.

Package: libcolumbus0-0-common
Section: libs
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: error tolerant matching engine - common files
 Libcolumbus is a search engine designed to work with unclean data.
 .
 This package contains the common files to have the library working.

Package: libcolumbus0-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libcolumbus0-0 (= ${binary:Version}),
         ${misc:Depends},
Description: error tolerant matching engine - development files
 Libcolumbus is a search engine designed to work with unclean data.
 .
 This package contains files that are needed to build applications.

Package: libcolumbus0-0-python
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libcolumbus0-0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: error tolerant matching engine - Python bindings
 These are the Python bindings of libcolumbus.
